table{
    color : #fff;
    text-align: center ;
    font: normal 3em Arial, sans-serif;
    border-radius: 20px;
    background-color:rgba(84, 90, 145, 0.841);
    width: 100%;

}

tr{
    background-color: #4e494d;
    height: 16.02vh;
}

    td{
    background-color: antiquewhite;
    width: 25vw;
    border-radius: 20px;
    border: black solid 6px ;
    text-align: center;
}

#inputBox{
    background-color: #4e494d;
    text-align:right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
    border-radius: 20px;
    
}

.digitButton{
    background-color: darkgrey;
    cursor: pointer;
    border-radius: 10px;

}

.digitButton:hover{
    background-color: grey;
}

.operatorButton{
    background-color:orange;
    cursor: pointer;
    border-radius: 30px;
}

.operatorButton:hover{
    background-color: darkgoldenrod;
}

.ACButton{
    background-color:chocolate;
    cursor: pointer;
}

.ACButton:hover{
    background-color: saddlebrown;

}